.button {
  background: linear-gradient(to right, cyan, indigo);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

.button:after {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, cyan, indigo);
  opacity: 0.5;
  animation: gradientAnimation 3s infinite;
  pointer-events: none;
}

@keyframes gradientAnimation {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(150%, 150%);
  }
}
